/* forgot password modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 200;
  inset: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--card-color);
  max-width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 0.25em;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  background-color: var(--primary-blue);
  padding: 1.5rem 2rem;
  color: white;
}
.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
}
.modal-header span:hover {
  color: var(--card-pet-name);
}
.current {
  left: 0;
}
.toLeft {
  left: -100% !important;
}
.emailPage {
  padding: 0 2rem;
}
.form {
  position: relative;
  overflow: hidden;
  min-height: 235px;
  display: grid;
  align-items: center;
}
.verify-first,
.verify-second {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.verify-content p,
/* .verify-content span, */
.verify-content a {
  opacity: 0.9;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.modal input,
.modal select {
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem !important;
}
.modal button {
  border-radius: 0.25em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 0.5rem;
}

.verify-button > .main {
  background-color: var(--primary-orange);
  color: var(--white-color);
  font-weight: 500;
}
.verify-input a.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.invalid-feedback {
  color: red;
}

.is-invalid {
  border-color: red !important;
}
