/* Edit Info modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 200;
  inset: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal button {
  border-radius: 0.25em;
  padding: 0.5em 1em 0.5em 1em;
}
.modal-content {
  background-color: var(--card-color);
  max-width: 800px;
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 0.25em;
}
.modal-body {
  padding-inline: 1rem;
  padding-bottom: 1rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  background-color: var(--primary-blue);
  padding: 1.5rem 2rem;
  color: white;
  align-items: center;
}
.modal-header span {
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
}
.modal-header span:hover {
  color: var(--card-pet-name);
}
.submit-btn {
  background-color: var(--primary-orange);
  color: white;
  font-weight: 600;
}
.verify-input a.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.resched-content {
  max-width: 600px;
  top: 7rem;
}
.resched-modal .modal-resched {
  padding-inline: 2rem;
}
.modal-resched .resched-refno {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.153);
}
.modal-resched .resched-setsched > div {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.modal-resched .resched-setsched > div input {
  width: 70%;
}
.modal-resched .resched-setsched .form-input-disable input:read-only {
  background-color: #cbcbcb;
  cursor: default;
  color: #444444;
  border: none;
}
.modal-resched .resched-buttons {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  margin-bottom: 1rem;
}
.modal-resched .resched-buttons button {
  width: 100%;
}
.modal-resched .resched-buttons .resched-btn-close {
  background-color: #8b8b8b;
  color: white;
}
@media (max-width: 786px) {
  .modal-content {
    top: 0;
  }
  .resched-content {
    top: 3rem;
  }
}
