@import url('./main.css');


.archive-pet{
   flex-direction: column;
   /* justify-content: space-between; */
   /* background-color: var(--primary-color); */
   padding: 1% 2%;
}

.archive-pet .archive-pets-header{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: max-content;
   width: 100%;
   /* background-color: aliceblue; */
}

.archive-pet .archive-pets-header .title-text{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   /* background-color: antiquewhite; */
}

.archive-pet .archive-pets-header .title-text h1{
   margin-right: 10px;
}

.archive-pet .archive-pets-header .filter-box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* background-color: rgb(180, 148, 148); */
   padding: .5% 0%;
   border-radius: 6px;

}

.archive-pet .archive-pets-header .filter-box .filter{
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* background-color: rgb(180, 119, 119); */
   width: 60%;
   height: 100%;
}

.archive-pet .archive-pets-header .filter-box .filter .search{
   position: relative;
   display: flex;
   align-items: center;
   width: 60%;
   height: 100%;
   border: 1px solid var(--dark-color);
   border-radius: 6px;
   margin-right: 10px;
   /* background-color:aquamarine; */
}


.archive-pet .archive-pets-header .filter-box .filter .search .fa{
   color: var(--secondary-text);
   position: absolute;
   margin-left: 2.5%;
}

.archive-pet .archive-pets-header .filter-box .filter .search input[type="search"]{
   width: 100%;
   height: 100%;
   font-size: 1em;
   outline: none;
   padding: 5px;
   padding-left: 40px;
   border: none;
   background: none;
   border-radius: 6px;
   /* margin-left: 10px; */
}




.archive-pet .archive-pets-header .filter .sort-by{
   display: flex;
   align-items: center;
   width: 40%;
   height: 100%;
   /* background-color: aqua; */
}

.archive-pet .archive-pets-header .filter .sort-by p{
   width: max-content;
   margin-right: 10px;
}


.archive-pet .archive-pets-header .filter .sort-by select{
   width: max-content;
   height: 100%;
   font-size: 1em;
   outline: none;
   padding: 5px;
   border-radius: 6px;
   border: 1px solid var(--dark-color);
}










 .archive-pet-item-container{
   /* background-color: rgb(192, 159, 159); */
   width: 100%;
   height: 100%;
   margin-top: 10px
}

 .archive-pet-item-container table{
   border-collapse: collapse;
}

 .archive-pet-item-container table thead{
   border-bottom: 1px solid rgba(0, 0, 0, 0.516); 
   border-top: 1px solid rgba(0, 0, 0, 0.516);  
}

 .archive-pet-item-container table tr th{
   padding: 5px;
   text-transform: capitalize;
   color: #000000;
   /* background-color: var(--primary-color); */
   font-size: 1em;
   font-weight: 500;
   text-align: left;
   /* border: 1px solid black; */
}

 /* .archive-pet-item-container table tr .avatar{
   text-align: center;
}

 .archive-pet-item-container table tr .avatar .archive-pet-avatar{
   width: 30px;
   height: 30px;
   overflow: hidden;
   border-radius: 50%;
   margin: auto;
}


 .archive-pet-item-container table tr .avatar .archive-pet-avatar img{
   width: 100%;
   height: 100%;
} */


.archive-pet-item-container table tbody tr td{
   /* text-align: ; */
   padding: 10px;
   /* background-color: #fff; */
   border: 1px solid rgba(0, 0, 0, 0.153);
}


.archive-pet-item-container table tbody tr:nth-child(odd){
   background-color: #ededed;
   border: 1px solid rgba(0, 0, 0, 0.315);
}


.archive-pet-item-container table tr td:nth-child(2){
   /* background-color: var(--primary-color); */
   color: #000;   
}

.archive-pet-item-container table tr .archive-pet-action{
   /* display: flex;
   justify-content: space-evenly; */
   text-align: center;
   width: 16%;
}

 .archive-pet-item-container table tr .archive-pet-action button{
   border: none;
   padding: 5px 10px;
   color: #fff;
   background-color: rgb(83, 110, 173);
   border-radius: 3px;
   font-size: .9em;
   margin: auto;
}

 .archive-pet-item-container table tr th:last-child{
   text-align: right;
}

 .archive-pet-item-container table tr .archive-pet-action button .fas{
   color: #fff;
}


.archive-pet-item-container table tr .archive-pet-avatar .avatar-container{
   width: 30px;
   height: 30px;
   overflow: hidden;
   border-radius: 50%;
   margin: auto;
}

.archive-pet-item-container table tr .archive-pet-avatar .avatar-container img{
   width: 100%;
   height: 100%;
}

